node-red/flows (1).json
[
    {
        "id": "07ce977ff632829b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89e6ba0316f7f4d6",
        "type": "modbus-read",
        "z": "07ce977ff632829b",
        "name": "Outputactivepower",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "78",
        "quantity": "10",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "2adc9ba4547ee9b4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 40,
        "wires": [
            [],
            [
                "9274fb9dbf9ca679"
            ]
        ]
    },
    {
        "id": "3e1dd2223b1d3e88",
        "type": "modbus-read",
        "z": "07ce977ff632829b",
        "name": "Battery power",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "16",
        "quantity": "10",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "2adc9ba4547ee9b4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "23b1ceecb67bc8fe"
            ],
            []
        ]
    },
    {
        "id": "200402a7a091e3fd",
        "type": "debug",
        "z": "07ce977ff632829b",
        "name": "batteypower_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "b045a79a6a6117ee",
        "type": "modbus-read",
        "z": "07ce977ff632829b",
        "name": "Loadactivepower",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "48",
        "quantity": "10",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "2adc9ba4547ee9b4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 100,
        "wires": [
            [],
            [
                "38c6468265dba443"
            ]
        ]
    },
    {
        "id": "f8031643669b9f8e",
        "type": "debug",
        "z": "07ce977ff632829b",
        "name": "Loadctivepower_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "d5fe9e7fc3df21a0",
        "type": "debug",
        "z": "07ce977ff632829b",
        "name": "output_Activepower_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "9274fb9dbf9ca679",
        "type": "function",
        "z": "07ce977ff632829b",
        "name": "function 1",
        "func": "// ---- Function Node: Parse OutputActivePower ----\n\n// msg.payload.data = array ของ register ที่อ่านมา\nlet data = msg.payload.data;\n\nif (!data || data.length === 0) {\n    node.error(\"ไม่พบค่า register\", msg);\n    return null;\n}\n\n// เนื่องจากตั้ง quantity=10 → index 0 = address 78\nlet raw = data[0];\n\n// Modbus register เป็น 16-bit unsigned → ถ้ามี bit 15 set ต้องแปลงเป็น signed\nif (raw & 0x8000) {\n    raw = raw - 0x10000;\n}\n\n// scale factor 0.1 kW\nlet value_kW = raw * 0.1;\n\nmsg.topic = \"OutputActivePower\";\nmsg.payload = value_kW;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 40,
        "wires": [
            [
                "d5fe9e7fc3df21a0"
            ]
        ]
    },
    {
        "id": "38c6468265dba443",
        "type": "function",
        "z": "07ce977ff632829b",
        "name": "function 2",
        "func": "// ---- Function Node: Parse LoadActivePower ----\nlet raw;\n\n// ตรวจสอบว่ามี msg.payload.data หรือไม่\nif (msg.payload && Array.isArray(msg.payload.data)) {\n    raw = msg.payload.data[0];   // แบบ object {data:[], buffer}\n} else if (Array.isArray(msg.payload)) {\n    raw = msg.payload[0];        // แบบ array ตรง ๆ\n} else {\n    node.error(\"ไม่พบค่า register\", msg);\n    return null;\n}\n\n// ตรวจสอบ signed 16-bit\nif (raw & 0x8000) {\n    raw = raw - 0x10000;\n}\n\n// scale factor\nlet value_kW = raw * 0.1;\n\nmsg.topic = \"LoadActivePower\";\nmsg.payload = value_kW;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "f8031643669b9f8e"
            ]
        ]
    },
    {
        "id": "23b1ceecb67bc8fe",
        "type": "function",
        "z": "07ce977ff632829b",
        "name": "function 3",
        "func": "// ---- Function Node: Parse BatteryPower ----\nlet data = msg.payload;   // ใช้ payload โดยตรง\n\nif (!Array.isArray(data) || data.length === 0) {\n    node.error(\"ไม่พบค่า register\", msg);\n    return null;\n}\n\n// index 0 = address 16\nlet raw = data[0];\n\nif (raw & 0x8000) {\n    raw = raw - 0x10000;\n}\n\nlet value_kW = raw * 0.1;\n\nmsg.topic = \"BatteryPower\";\nmsg.payload = value_kW;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "200402a7a091e3fd"
            ]
        ]
    },
    {
        "id": "105bdfba723070db",
        "type": "modbus-read",
        "z": "07ce977ff632829b",
        "name": "Active_power_Inv",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "40525",
        "quantity": "2",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3e10b1e9e258cd2b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 320,
        "wires": [
            [],
            [
                "92e07e24ec81f65a"
            ]
        ]
    },
    {
        "id": "92e07e24ec81f65a",
        "type": "debug",
        "z": "07ce977ff632829b",
        "name": "Activepower_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "2adc9ba4547ee9b4",
        "type": "modbus-client",
        "name": "RTU",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "3e10b1e9e258cd2b",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "172.28.12.11",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 50,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    }
]